@model Banking_System.Models.Accounts

@{
    ViewBag.Title = "AddAcount";
}
<style>
    td {
        padding-right: 70px;
        padding-bottom: 20px;
    }
    h2,h4{
        font-family:'Cinzel-VariableFont_wght'
    }
</style>
<br />
<br />
<div style="color:white;margin-left:600px">
    <h2 >AddAcount</h2>
   @using (Html.BeginForm("AddAcount", "Banking", FormMethod.Post))
   {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Accounts</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.C_Id, "Client number")</td>
                <td>
                    @Html.DropDownListFor(model=>model.C_Id, null, htmlAttributes: new { @class = "" })
                    @Html.ValidationMessageFor(model => model.C_Id, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Balance)</td>
                <td>
                    @Html.EditorFor(model => model.Balance)
                    @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                @{ List<string> list = new List<string>(2) { "Business  ", "Current   " };

                }
                <td>@Html.Label("Type of an Account")</td>
                <td>
                    @Html.DropDownList("typeOfAcc",
            new SelectList(list),
            "Type of an Account")
                    @Html.ValidationMessage("typeOfAcc", "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>

        
        <br />
        <br />
        <div style="margin-left:0px" class=" col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default btnnew" />
        </div>
        
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
                    }
</div>

<br />
<br />
<br />
<br />

<br />
<br />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@*<div class="form-group">
        @Html.LabelFor(model => model.C_Id, "C_Id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("C_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.C_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
        </div>
    </div>
    @{ List<string> list = new List<string>(2) { "Business  ", "Current   " };

    }
    <div class="form-group">
        @Html.Label("Type of an Account", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("typeOfAcc",
    new SelectList(list),
    "Type of an Account")
            @Html.ValidationMessage("typeOfAcc", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default btnnew" />
        </div>
    </div>*@