@model IEnumerable<Banking_System.Models.Employees>

@{
    ViewBag.Title = "Display_Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h2, h4 {
        font-family: 'Cinzel-VariableFont_wght';
    }
</style>
<div style="position: relative;
  
    color: #fff;
    background-color: rgba(0,0,0,.5);">
    <h2>Display_Employee</h2>
    <br />
    @using (Html.BeginForm("Display_Employee", "Banking", FormMethod.Post))
    {
        <p>@Html.TextBox("EmpName")<input type="submit" value="Search Employee" /></p>
    }
    <br />
    <p>
       @Html.ActionLink("Back Home", "Index")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emp_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>

            </tr>
        }

    </table>
    </div>